label {
	display: inline-block;
}

.form input[type='text'] {
	margin: 10px;
	width: 40vh;
	height: 40px;
	outline: none;
}

::placeholder {
text-align: center;
}


.form input[type='radio'] {
	margin: 20px;
	
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

h3 {
	text-align: center;
}

input:focus {
	outline: none;
	border: 1px solid #3f51b5;
}


span{
	color:red;
}

p {
	color: red;
	text-align: center;
	font-weight: 700;
}

button{
        background-color: #ED7403;
        border: none;
        width: 50%;
        height: 30px;
        margin: 10px;
        color: #FFF9FA;
	cursor: pointer;
	border-radius: 10px;
	
}
button:focus {
	outline: none;
}
